<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <!-- Contenido común como la barra de navegación podría ir aquí -->
    
    {{{body}}} <!-- Aquí se insertarán las vistas específicas -->
    
    <!-- Scripts comunes podrían ir aquí -->
</body>
</html>
